.App {
  text-align: center;
  margin-bottom: 0px;
}

nav {
  font-size: 20px;
  text-align: right;
  padding: 10px;
  margin: 0px 0px 20px 20px;
  margin-right: 150px;
}

.nav-style {
  text-decoration: none;
  margin: 20px;
  text-transform: uppercase;
  color: white;
}

.nav-style:hover {
  color: blue;
}

.top-hero-title {
  font-size: 45px;
}


.App-title {
  font-size: 1.5em;
}

footer {
  background-color: yellow;
  height:100%;
  padding: 20px 0 20px;
}

/* ----- SEARCH COMPONENT ------ */

.submit {
  background-color: rgb(76, 223, 76);
}


/* -------- LANDING PAGE -------- */

.landing {
  width: 100%;
  height: 100%;
}

.hero-title {
  font-size: 35px;
}

.landing-features {
  width: 100%;
  margin: 0 auto;
}

.feature {
  width: 50%;
}

#float-left-top {
  float: left;
  margin-left: 20px;
}

#float-left-bottom {
  clear: both;
  margin-left: 20px;
}

#float-right {
  float: right;
}

.icon-headphone {
  font-size: 50px;
}

.icon-radio {
  font-size: 60px;
}

.icon-phone {
  font-size: 70px;
}

/* -------- LIBRARY PAGE -------- */

.library {
  width: 100%;
  height: 100%;
}

img {
  max-width: 50%;
}

.float-album-left {
  float: left;
  margin-top: 20px;
  margin-left: 150px;
}

.float-album-right {
  float: left;
  margin-top: 20px;
}

.album-title, .album-artist, .album-songs {
  text-align: left;
  text-decoration: none;
  color: white;
  margin-left: 118px;
}

.album-title {
  font-size: 30px;
}

.album-artist, .album-songs {
  font-size: 18px;
}

/* -------- ALBUM PAGE -------- */

.album {
  width: 100%;
  margin-top: 50px;
}

#album-info {
  width: 30%;
  float: left;
  margin-left: 130px;
}

#song-list {
  width: 100%;
  margin-bottom: 30px;
}

#music-info {
  float: left;
  width: 50%;
}

#album-cover-art {
  box-shadow: 10px 10px 10px black;
  width: 50%;
}

.album-details {
  text-align: left;
  margin-left: 118px;
}

#album-title {
  font-size: 30px;
}

.artist {
  font-size: 18px;
}

.player-bar {
  width: 100%;
}

.seek-bar-top {
  width: 70%;
}

.seek-bar-bottom {
  width: 50%;
}

.song-button {
  width: 50px;
  padding: 10px 0 10px;
  margin: auto;
}

.song-number {
  font-weight: bold;
}

#time-control {
  margin-top: 10px;
}

.current-time {
  font-size: 20px;
}

.song-title {
  font-size: 20px;
}

.song-duration {
  font-size: 20px;
}

#previous, #play-pause, #next {
  width: 40px;
  padding: 10px 0 10px;
  margin: 0 5px 0 5px;
}

.total-time {
  font-size: 20px;
}

.ion-volume-low, .ion-volume-high {
  font-size: 20px;
}

.search-background {
  background-color: aquamarine;
}

.mobile-nav {
  display: none;
}

/* ------- Screens smaller than 768px width ---------- */

@media (max-width: 767px) {

  .nav {
    display: none;
  }

  .hero-title {
    display: none;
  }

  .landing {
    width: 100%;
    height: 100%;
  }

  .feature {
    width: 100%;
    height: 100%;
    background-color: darkgoldenrod;
  }

  #float-left-top {
    float: none;
    margin: 0px;
    border-top: solid black;
    border-bottom: solid black;
  }

  #float-right {
    float: none;
    margin: 0px;
    border-bottom: solid black;
  }

  #float-left-bottom {
    float: none;
    margin: 0px;
    border-bottom: solid black;
  }

  .mobile-nav {
    display: block;
  }

  .album-item {
    width: 100%;
  }

  .img-left {
    width: 40%;
    float: left;
  }

  .album-info-float {
    width: 40%;
    float: left;
  }

  .album-clear {
    clear: both;
  }
}

/* ------- Screens smaller than 1024px width ---------- */

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .feature {
    width: 30%;
    height: 100%;
  }

  #float-left-top {
    float: left;
  }

  #float-right {
    float: left;
  }

  #float-left-bottom {
    clear: none;
    float: left;
  }

  .clear-footer {
    clear: both;
  }

  .footer {
    width: 100%;
  }
}